.quiz {
  height: 90vh;
  background: #fff;
}
.wrapperFor_timer_language {
  max-width: 670px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
}
.question_language {
  color: gray;
}
.wrapper_before_start {
  position: relative;
}
.wrapper_start_quiz {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 65px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  p {
    text-align: center;
    margin-top: 70px;
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    // width: 150px;
    // height: 50px;
  }
}
.start_button {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 50px;
  border-radius: 5px;
  background: #2977c9;
  color: white;
  border: none;
  outline: none;
  &:disabled {
    background-color: gray;
  }
}
