.footerContainer {
  display: flex;
  flex-direction: row-reverse;
}

.footerContainerDiv {
  padding-right: 1vh;
}

.footerContainer span {
  font-size: 14px;
}

.footerContainer img{
  height: 1.5rem;
  margin-bottom: 1vh;
}