.choose_main {
  display: flex;
  flex-direction: column;
  height: 100%;
  h1 {
    width: 90%;
    margin: 50px auto;
    text-align: center;
  }
}
.choose_lang {
  max-width: 300px;
  margin: 0 auto;
  a {
    height: 50px;
    width: 300px;
    margin: 10px auto;
    background: #2977c9;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.formLanguagesChange {
  min-width: 300px;
  input {
    margin-right: 15px;
  }
  display: flex;
  justify-content: center;
}
