.signInWith {
  display: grid;
  justify-content: center;
  width: 65%;
  margin: auto;
  margin-bottom: 10px;
}

.signInWith .withItemContainer {
  display: flex;
}

.signInWith span {
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 1vh;
}

.signInWith .item {
  display: flex;
  width: 18vh;
  margin-right: 5px;
  border: 1px solid #dedfe4;
  border-radius: 12px 12px 12px 12px;
}

.signInWith .item img {
  width: 25%;
  margin: 5px;
}

.signInWith .item span {
  font-size: 2vh;
  margin-top: 1.4vh;
  margin-left: 1.5vh;
}